.bg-blue{
background-color: #1487FD;
}
.bg-orange{
background-color: #FFBB00;
}
.bg-white-smoke{
    background-color: #F5F5F5;
}
.text-white{
    color: #FFFFFF;
}
.text-black{
    color:black;
}
.icon-background{
    height: 45px;
    width: 45px;
    background-color:rgb(255, 187, 0,0.2);
    border-radius: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
}
