@import url("colores.css");
*{
    box-sizing:border-box ;
}
html,body{
    margin:0;
    padding: 0;
    font-size: 16px;
    font-weight:300;
    font-family:'Roboto', sans-serif;
    line-height: 1.6;   
}
p,h2{
    font-family:'Roboto', sans-serif;
    line-height: 1.6; 
    font-weight:300;
    font-size: 16px;  
}
.my-container{
    width: 100%;
    margin: 0 auto;
    padding: 0.5rem 1rem;

}
.hide{
    display: none;
}
.top-navbar{
    background-image:url("../images/blue_background_crop.png") ;
    background-position:bottom;
    height: 200px;
    background-size: cover;  
    
}

 .top-navbar .navbar .navbar-brand img{
    height: 2rem;
}
.navbar-light .navbar-toggler{
    position: absolute;
    right: 0;
    color:white;
    border: transparent;
    font-size: 1.5rem;   
}
.navbar-light .navbar-nav .nav-link{
    color:#FFBB00;
    font-weight: bold;
}
.navbar-light .navbar-nav .nav-link.active{
    color: #FFFFFF;
}
.btn-1{
 font-size: 0.8rem;
 padding:0.5rem 2rem;
 border-radius: 10px;
 border:none;
 position: relative;
 right:100px;
 display: none;
}
.top-navbar .my-container{
    position:relative;
    padding-top: 1rem;     
}
.carousel-caption{
    text-align: left;
    position: absolute;
    top:100px;
    left: 200px;   
}
.carousel-caption h1{
    color: #FFFFFF;
    font-size:3rem;
    font-weight: bold;
    margin-right:20rem;
    font-family: 'Poppins', sans-serif;
    line-height:1.6; 
}
.carousel-caption p{
    font-family: 'Poppins', sans-serif;
    color: #FFFFFF;
    margin-right: 30rem;
    margin-bottom: 3rem;
}
.carousel-caption img{
    margin-right: 0.5rem;
}
.top-navbar .showcase a{
    margin:0 1rem;
}
.btn-2{
    background-color: transparent;
    border: 1px solid #FFFFFF;
    border-radius: 15px;
    padding: 1rem 2rem;
    margin-right: 1rem;
}
/*
.iphon-x1-image{
    position: absolute;
    right: 20rem;
    top:150px;
    z-index: 1;
    height: 500px;
}
.iphon-x2-image{
    height: 500px;
    position: absolute;
    right: 10rem;
    top:100px; 
    z-index: 0;
}--*/

/*-------Section1-----------------------------*/
#section-1 > .my-container{
    display:flex;
    justify-content: center;

}
.ec-logo{
    margin-top: 1rem;  
    margin-right:2rem;
      
}

.circle-1{
    height: 450px;
    width: 450px;
    border-radius: 50%;
    border: 1px solid #CCCCCC;
    margin-top: 5rem;  
    position: relative;     
}
.circle-2{
    height: 300px;
    width: 300px;
    border-radius: 50%;
    border: 1px solid #CCCCCC;
    position: absolute;
    top:75px;
    left:75px;   
}
.iphon-x3-image{
    height: 500px;
    position: relative;
    left:105px;
    bottom: 25px;
    
}
#about-us h1 , #features h1 , #application-screens h1 ,#contact-us h1{
   line-height: 1.4;
   color: #333333;
   font-weight:bold;
   font-size: 1.5rem;
   margin:1rem 0;
   margin-right: 10rem;
   font-family:'Roboto', sans-serif;
}
#application-screens h1 ,#contact-us h1{
    margin-right: 0;
}
#about-us p , #features p,#application-screens p,#contact-us p{
    color: #8A8A8A;
    margin-bottom: 2rem;  
}

.easy-search{
    
    text-align: center;
    margin-bottom: 1rem;
    
}
.btn-about-us,.btn-features{
    margin-top: 1rem;
    background-color: rgb(255, 187, 0,0.2);
    border: none;
    border-radius: 10px;
    padding:0.5rem 1.5rem ;
    color: #FFBB00;
}

/*---Section-2 Features-----------------*/
.search-grid .features-search{
    grid-row-start: 1;
    grid-row-end: 3;
  }
.search-grid{
    display: grid;
    grid-template-columns: 0.2fr 0.7fr;
    text-align: left;
}
.search-grid p{
    font-size: 0.7rem;
}
#features .my-container{
    text-align: center;
}
.iphone-features{
    position: relative;
    margin-top: 5rem;
    margin-bottom: 35rem;
}
.iphone1-features{
    height:500px ;
    position: absolute;
    right:75px;
    z-index: 2;
}
.iphone2-features{
    position: absolute;
    top:20px;
    left:-20px;
    height: 490px;
    z-index:1;  
}
.circl-1-back-1{
    height: 250px;
    width: 250px;
    border-radius: 50%;
    position: absolute;
    right:0;
    top: 100px;   
}
.circl-1-back-2{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    position: absolute;
    right:45px;
    top: 150px;  /*100+(125-75)*/ 
}
.circl-2-back{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    position: absolute;
    top:250px;
    left:55px;
    z-index:0;
}
.prik1-background{
    position: absolute;
    left:40px;
    top:20px;
    z-index: 0;   
}
/*--------Application------------------------------*/
.center-me {
    text-align: center;
}

.application-map{
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}
.iphone-5-images{
    display: flex;
    justify-content: space-between;
}
.iphone-5-images .ipone-width-s{
    width:200px;
}
.iphone-5-images .ipone-width-l{
    width:250px;
}
.map{
    position: absolute;
    opacity: 40%;
}
#application-screens .statistic h2{
    font-size: 2rem;
    font-weight: bold;
}
#application-screens .statistic  p{
    font-size: 1rem;
    color: #333333;
    font-weight: bold;
}
.statistic{
    display:flex;
    justify-content: space-between;
}
/*--------Download---------------------------*/
.btn-download1 , .btn-download2{
    border: none;
    border-radius: 15px;
}
.btn-download2{
  margin:2rem auto;
}
.image1{
    position: absolute;
    right:0;
    bottom: 0;   
}
.image2{
   position: absolute;
   right:120px;
   bottom: 0;
   z-index: 1;
}
.image3{
   position: absolute;
   right:270px;
   bottom: 0;
}
#download .my-container h1 {
   line-height: 1.4;
   color: #FFFFFF;
   font-weight:bold;
   font-size:1.5rem;
   margin:1rem 0;
   font-family:'Roboto', sans-serif; 
}
#download .my-container p{
    color: #ffffff;
    font-size: 0.9rem;
    margin: 2rem 0; 
}
.download-application{
   top:2px;   
   text-align: center;
}
.banar-background{
    background-image: url('../images/fff.svg'); 
     
}
/*--------------------------------------*/
.form-format{
   /* display:grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;*/
}
.text1 ,.text2, .text3,.btn-send{
    background-color:#F8EFEF;
    border:none;
    border-radius: 15px;  
    padding: 1rem;
}
.btn-send{
    background-color:#3096FE ;
    color: #FFFFFF;
    padding: 1rem 3rem;      
}
.center-btn{
    text-align: center;
}
#footer{
    background-color:#1487FD;
}
.footer-bakground{
    background-image: url('../images/footer-overlay.svg');
}
#footer .my-container{
    display:flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
      
}
#footer .my-container .navbar-brand{
    margin-top: 2rem;
}
#footer .my-container #navbarNavAltMarkup{
    left: 0;
}
#footer .my-container #navbarNavAltMarkup .navbar-nav a{
    margin: 0 2rem;
}
#footer .my-container #navbarNavAltMarkup .navbar-nav{
   align-items: center;
}
#footer .my-container .socialmedia a{
color: #FFFFFF;

}
.socialmedia{
    font-size: 2rem; 
    display: flex;
    justify-content: space-between;
}
.socialmedia-bg{
    width: 50px;
    height: 50px;
    border-radius: 10px;
    background-color:rgb(255, 255, 255,15%);
    margin:2rem 1rem;

}
/*--------------------------------------*/
@media (min-width: 768px) {
    .min-container {
        max-width: 720px;
    }
    .hide{
        display: inline;
    }
    .btn-1{
        display:inline;
    }
    .top-navbar{
        height: 700px;
        background-size: cover;
        background-position:bottom;  
    }
     #navbarNavAltMarkup{
        position: relative;
        left:150px;  
    }
    .navbar-light .navbar-nav .nav-link{
        color: #FFFFFF;
        font-weight: bold;
        padding: 0;    
    }
    .navbar-light .navbar-nav a{
       display: inline;
       margin-left: 2rem;   
    }
    .navbar-light .navbar-nav a:hover{
        text-decoration: underline;
        color: #FFBB00 !important;
    }
    .top-navbar .my-container{
        display: flex;
        padding-top: 2rem;     
    }
    
    .top-navbar .navbar .navbar-brand img{
        margin-left: 5rem;
        height: 3rem;    
    }
    /*-----------------------------------*/
    .ec-logo{
        margin-top: 5rem;
    }
    #section-1 > .my-container{
        display:flex;
        justify-content: space-evenly;
    
    }
    .features-grid{
        display:grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    /****************************************/
    #about-us .my-container{
        display:grid;
        grid-template-columns: 1fr 2fr;
        column-gap: 5rem;
        position: relative;  
    }

    #about-us h2{
        font-size: 2.6rem;
        margin:1rem 0;
        
    }
    .easy-search{
        text-align: left;
        margin-bottom: 7rem;
    }
    .btn-about-us{
        margin-top: 6.5rem;
    }
    
    #about-us h1 , #features h1 , #application-screens h1{
        font-size: 2rem;
    }
    /****************************************/
    #features .my-container{
        text-align: left;
        display: grid;
        grid-template-columns: 1.1fr 1fr;
        position: relative;
        
    }
    #features{
        position: relative;
    }
    .pric2{
        position: absolute;
        top:150px;
    }
    .btn-features{
        margin-top: 5rem;
    }
    .center-me {
        margin:3rem 18rem;
    }
 /*-----------------------------*/
    .btn-download2{
        margin-left: 2rem;
    }
     #download .my-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0.5fr 0.5fr;
        position: relative;
    }
    #download .my-container h1{
        margin-right: 4rem;
        font-size: 2rem;
    }
    .download-application{
        position: relative;
        text-align: left;
        top: 120px;   
    }
    .form-format{
       /* display:grid;
        grid-template-columns: auto auto;
        gap: 1rem;*/
        position: relative;
        width: 50%;
        height: 70px;
        overflow: hidden;
        font-size: 0.8rem;
        margin: 1rem 0rem;    
    }
    .text-area-format{
        position: relative;
        width: 100%;
        overflow: hidden;
        font-size: 0.8rem;
        margin: 1rem 0rem;  
    }
    .form-format input {
        width: 100%;
        height: 100%;
        color: #474747;
        padding-top: 20px;
        border: none;
        border-radius: 15px;
        outline: none;
        background-color: #ede7e7;
    }
    textarea {
        width: 100%;
        height: 100%;
        color: #474747;
        padding-top: 20px;
        border: none;
        border-radius: 15px;
        outline: none;
        background-color: #ede7e7;
    }
     label {
        position: absolute;
        bottom:0px;
        left: 5px;
        width: 100%;
        height: 100%;
        pointer-events: none;
    }
    .text-area-format label{
        position: absolute;
        bottom:50%;
        width: 100%;
        height: 100%;
        pointer-events: none;
        text-align: center;
    }
    
    
   .label-content {
        position: absolute;
        bottom: 5px;
        left: 0px;
        transition: all 0.3s ease;
        color: rgb(204, 204, 204)
    }
    
    .form-format input:focus + .input-label .label-content,
    .form-format input:valid + .input-label .label-content {
        transform: translateY(-150%);
        font-size: 0.8rem;
        color:#1487FD;
    }
    .text-area-format textarea:focus + .input-label .label-content,
    .text-area-format textarea:valid + .input-label .label-content {
        transform: translateY(-400%);
        font-size: 0.8rem;
        color:#1487FD;
    }
    
    .text1{
        grid-column-start: 1;
        grid-column-end: 3;
     }
     .text2{
        grid-column-start:3;
        grid-column-end: 5;
     }
    .text3{
        display:block;
       grid-column-start: 1;
       grid-column-end: 5;
    }
    
    .center-btn{
        text-align: center;
        grid-column-start: 1;
        grid-column-end: 5;
    }
}
@media (min-width: 992px) {
    .my-container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .my-container {
        max-width: 1140px;
    }
}
@media (min-width: 1920px) {
    .my-container {
        max-width: 1400px;
    }
}
@media (min-width: 1400px) {
    .my-container {
         max-width: 1330px;
    }
}
